.mainContainer{
    width: 1250px;
}


.logoImgHeader{
    width: 130px;
    padding: 5px 0px 0px 5px;
}
.navText{
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-weight: bold;
    align-items: center;
}
.navText >a {
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}
.navText >a:hover {
    color: rgba(4, 68, 243, 0.5);
    text-decoration: none;
}
.contactNav{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
.bodyImg{
    margin: 0px 0px 0px 16px;
}
.mainBest{
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
}
.hover1{
    margin: -100% 0px 0px 0px;
}
.hover1:hover{
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}
.mainFooter{
    
    margin: 7% 0px 0px 0px;
    justify-content: space-evenly;
    border-top:1px solid black ;
}
.footerThree >button{
    margin-top: 10px;
    border-radius: 11px;
    border: navajowhite;
    padding: 4px 25px;
    font-weight: bold;
    color: #fcfcfd;
    background-color: blue;
    cursor: pointer;
}
.loginPage{
    background-color: rebeccapurple;
    position: fixed;
    top: 62px;
    width: 92%;
    margin: 0px 0px 0px 3%;
    height: 560px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20% !important;
    display: none;
    
}
#closeLogin{
    position: fixed !important;
    width: 36px !important;
    border: none !important;
    background-color: red !important;
    margin: 0% 0px 0px 87% !important;    
    
}
.contaiLogin{
    width: 600px !important;
    margin: auto !important;
    padding: 2% 0px 0px 0px !important;
    font-family: sans-serif !important;
    position: relative !important;
    color: rgb(4, 4, 4) !important;
    font-weight: bold !important;
    font-size: 20px;
    
}
.loginBG{
    width: 1162px !important;
    height: 560px !important;
    position: absolute !important;
}
.cart-act{
    right:4%;

}



@media (min-width: 100px) and (max-width: 499px) { 
    .mainContainer{
        width: 399px;
         margin: 0px 0px 0px 16%;
        
    }
    .navText{
        font-size: 15px;
        width: 100% !important;
    }
    .navMain{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }
    .mainFooter{
        display: flex !important;
        flex-direction: column !important;
        gap: 50px !important;
    }
    .footerThree,.footerOne,.footerTwo{
        width: 74% !important;
    }
    .emails{
        margin: 0px 0px 0px 28px;
    }

    .loginPage {
        width: 83% !important;
        margin: 0px 0px 0px -13%;
    }
    .inputLogin {
        width: 362px !important;
    }

 }
@media (min-width: 500px) and (max-width: 799px) { 
    .mainContainer{
        width: 750px;
    }
    .navText{
        font-size: 15px;
    }
    .loginBG {
        height: 900px !important;
    }

 }
@media (min-width: 800px) and (max-width: 1024px) { 
    .mainContainer{
        width: 900px;
    }
    .navText{
        font-size: 15px;
    }
    .mainFooter{
        gap: 0px;
        justify-content: start;
        margin: 0px 0px 0px 20px !important;
        
        width: 750px !important;
    }

 }


